<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Agent Marketplace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="container">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

            <div class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img width="130" role="img" src="/imgs/icons/logo.png" alt="Logo">
                </a>
            </div>

            <!-- <p class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">Mind Academy: A Repository of Simulated Virtual<br> Characters for Social Sciences Education and Training​</p> -->
            <ul class="nav mx-3 col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 font-weight-bold">
                Mind Academy: A Repository of Simulated Virtual<br> Characters for Social Sciences Education and Training
            </ul>
            <!-- <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="/marketplace" class="nav-link px-2">Marketplace</a></li>
                <li><a href="/register" class="nav-link px-2">Customize</a></li>
            </ul> -->

            <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <button type="button" class="btn btn-primary" onclick="location.href='/marketplace'">Try Demo</button>
            </div>
        </header>
    </div>

    <div class="container col-xxl-8 px-4 py-1">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
            <div class="col-10 col-sm-8 col-lg-5">
                <img src="/imgs/screenshot.png" class="d-block mx-lg-auto img-fluid" alt="AI Agent Marketplace" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-7">
                <!-- <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">AI Agent Marketplace</h1> -->
                <p>
Mind Academy is a repository of virtual characters powered by Large-Language Models (LLMs) for teaching and training social science students, providing a rich, interactive learning experience.​<br>​<br>
These virtual characters were based on case studies from academic publications, simulating behaviors and reactions of individuals with specific psychological or social issues.​​<br>​<br>
Utilizing prompt engineering techniques, we craft precise prompts based on the case study that guide the virtual characters' responses and actions. ​​<br>​
These prompts are designed to work with the AI-Chatbot we provide (as shown in our demo), or other LLMs such as ChatGPT-4o or Gemini-Pro. This flexibility allows users to leverage the latest advancements in AI technology for their educational needs.​​<br>
We offer comprehensive tutorials on crafting effective prompts based on case study, fostering community contribution to this repository.​​<br>​<br>
Our aim is to create an interactive educational resource for students, educators, healthcare professionals, and researchers.​​<br>​<br>
<strong>NOTE: please use Chrome browser when trying the demo for the best experience!</strong>
</p>
            </div>
        </div>
    </div>

    <!-- New Demo Video Section -->
    <div class="container py-5" id="demo-video">
        <h2 class="pb-2 border-bottom">Demo Video</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/your_video_id" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container px-4" id="featured-3">
        <h2 class="pb-2 border-bottom">About Our Platform</h2>
        <div class="row g-4 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#collection"></use>
                    </svg>
                </div>
                <h3 class="fs-2 text-body-emphasis">Open-Source Marketplace</h3>
                <p>Our open-source marketplace allows you to interact with AI agents exhibiting various psychological conditions. Designed for educational purposes, it supports technology independence, enabling seamless integration with any commercial or open-source LLM models.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#people-circle"></use>
                    </svg>
                </div>
                <h3 class="fs-2 text-body-emphasis">Custom Agents</h3>
                <p>Upload your prompts and case studies to create agents that realistically simulate behaviors, aiding in practical and ethical training scenarios.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#toggles2"></use>
                    </svg>
                </div>
                <h3 class="fs-2 text-body-emphasis">Safe Training</h3>
                <p>Safe, ethical, and practical training for sensitive situations. Agents with various psychological conditions include:</p>
                <ul>
                    <li>Schizophrenia</li>
                    <li>Mood Disorders</li>
                    <li>Anxiety Disorders</li>
                    <li>Obsessive-Compulsive Disorders</li>
                    <li>Trauma and Stressor Disorders</li>
                    <li>Psychotic Disorders</li>
                    <li>Neurocognitive Disorders</li>
                </ul>
            </div>
        </div>
    </div> -->

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h3>Project Lead:</h3>
                <p><strong>Dr. Arthur Tang</strong></p>
                <p>Senior Lecturer</p>
                <p>RMIT University Vietnam</p>
                <p>School of Science, Engineering and Technology</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h3>Collaborators:</h3>
                <p><strong>Prof. Paul Wong</strong></p>
                <p>Associate Professor, Programme Director of the Master of Social Science (Counselling)</p>
                <p>Department of Social Work and Social Administration</p>
                <p>The University of Hong Kong</p>

                <p><strong>Prof. Ben Li</strong></p>
                <p>Associate Professor</p>
                <p>Department of Social and Behavioural Sciences</p>
                <p>City University of Hong Kong</p>

                <p><strong>Prof. Wilson Tam</strong></p>
                <p>Associate Professor, Director of Research</p>
                <p>Alice Lee Centre of Nursing Studies</p>
                <p>National University of Singapore</p>
            </div>
        </div>
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    <img width="100" role="img" src="/imgs/icons/logo.png" alt="Logo">
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary"> © 2024 Mind Academy</span>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
